 body {
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background:linear-gradient(135deg,blue 0%,purple 50%);
            background-repeat: no-repeat;
            font-family: Arial, sans-serif;
        }

        .card {
            background: #fff;
            width: 350px;
            padding: 30px;
            border-radius: 20px;
            text-align: center;
            box-shadow: 0px 10px 25px rgba(82, 76, 76, 0.1);
        }

        .card img {
            width: 120px;
            height: 120px;
            border-radius: 50%;
            margin-bottom: 20px;
            object-fit: cover;
            border: 5px solid #6a82fb;
        }

        h2 {
            margin: 10px 0;
            font-size: 26px;
            color: #333;
        }

        p {
            color: #666;
            line-height: 1.6;
        }

        .btn-group {
            margin-top: 25px;
        }

        .btn-group a {
            padding: 10px 20px;
            margin: 5px;
            border-radius: 10px;
            border: 2px solid #6a82fb;
            text-decoration: none;
            color: #6a82fb;
            font-weight: bold;
            transition: all ease-in;
            display: inline-block;
        }

        .btn-group a:hover {
            background: #6a82fb;
            color: #fff;
        }